.button{
  border-radius: 6px;
  text-shadow: 0px 0px 5px #ffffff;
  color: #47a7e6;
  font-size: 14px;
  font-weight:bold;
  background: #ffffff;
  padding: 8px 16px 8px 17px;
  border-width:2px;
  border-color:rgb(95, 161, 215);
  text-decoration: none;
  margin-left: 15px;
  width:200px;
}

.button:hover{
  border-radius: 6px;
  text-shadow: 0px 0px 5px #ffffff;
  color: #000000;
  font-size: 14px;
  background: #ffffff;
  padding: 8px 16px 8px 17px;
  border: solid #ff7429 2px;
  text-decoration: none;
}

.button:disabled{
  background: rgb(156, 156, 156);
  color:white;
  border:none;
}
